.add_content {
  padding-bottom: 50px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.add_post_Section {
  color: green;
  font-family: "Playfair Display", serif;
}
.post_section {
  background-image: url("https://i.postimg.cc/BnN7NHT1/loading-43.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.add_Details {
  font-size: 20px;
  color: green;
  font-family: "Croissant One", serif;
}
.add_button {
  font-size: 20px;
}
