.footer_section {
  font-family: "Playfair Display", serif;
  font-size: 20px;
}

.social_medias {
  font-family: "Playfair Display", serif;
}
#content {
  font-family: "Young Serif", serif;
}
#content {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
}
